ul.Dropdown-menu.dropdown-menu [class*=item] {
    padding: 3px;
}

.App-nav .AdminNav .Dropdown-menu>li>a {
    border-radius: 16px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .10s;
    transition: .5s;
}

.ExtensionIcon {
    border-radius: 32px;
}

.Modal-content {
    border-radius: 16px;
}

input.FormControl {
    border-radius: 16px;
}

.Button {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .10s;
    transition: .5s;
    border-radius: 16px;
}

.TagLabel {
    border-radius: 16px;
}

textarea.FormControl {
    border-radius: 16px;
    padding: 10px;
}

.Dropdown-menu {
    padding: 3px;
}

.TagListItem-info:hover {
    border-radius: 16px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .10s;
    transition: .5s;
}

.TagLabel {
    border-radius: 16px !important;
}

.TagIcon {
    border-radius: 16px;
}